<div class="page-header">
	<h1>Event Creation</h1>
</div>

<form ng-submit="event.createEvent(creationData)">

	<label>Creator</label>
	<p>{{ main.username }}</p>

	<label>Name</label>
	<input class="form-control" type="text" name="name" placeholder="please enter name of event" ng-model="event.creationData.name">
	<br>

	<label>Earliest</label>
	<input class="form-control" type="text" name="earliest" placeholder="yyyy/mm/dd" ng-model="event.creationData.earliest">
	<br>

	<label>Latest</label>
	<input class="form-control" type="text" name="latest" placeholder="yyyy/mm/dd" ng-model="event.creationData.latest">
	<br>

	<label>Duration</label>
	<input class="form-control" type="text" name="duration" placeholder="minutes" ng-model="event.creationData.duration">
	<br>

	<button class="btn-primary" type="submit">Create</button>

</form>

<br>

<div class="jumbotron text-center" ng-show="event.loading">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading...</p>
</div>

<br>

<div class="row show-hide-message" ng-show="event.successMsg">
	<div class="alert alert-success">{{ event.successMsg }}</div>
</div>

<br>

<div class="row show-hide-message" ng-show="event.errorMsg">
	<div class="alert alert-danger">{{ event.errorMsg }}</div>
</div>